*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next,
#dockercode,
.dockecode {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

option {
  background-color: #280353 !important;
}
